@media screen and (max-width: 768px) {
    .nav {
        height: 50px;
    }
    #navigation {
      display: flex;
    }
    #navigation li {
        margin-right: 0;
    }
    #nav-logo {
        display: inline;
    }
    #name-nav {
        margin-left: 20px;
    }

    /* intro-section */
    .section1 {
        height: 1000px;
    }
    .header {
        margin-top: 100px;
    }
    .home-wrapper{
        display: flex;
        flex-direction: column;
    }

    .right-column {
        padding-bottom: 50px;
    }
    .left-column {
    padding-bottom: 100px;
    }
    
    #section-buttons {
        margin-left: 250px;
    }

    #about-me-shadow {
        margin-top: 50px;
        margin-left: 175px;
    }

    /* hobbies-section */
    .section2 i {
        font-size: 75px;
    }

    .hobby span {
        font-size: 20px;
    }
}

/* mobile view */
@media screen and (max-width: 460px){
    /*intro section*/
    .section1 {
        height: 1200px;
    }

    .left-column {
        padding-top: 100px;
    }

    #section-buttons {
        margin-left: 18%;
    }

    #about-me {
        width: 200px;
    }

    #about-me-shadow {
        width: 200px;
        margin-left: 18%;
    }

    /* hobbies section */
    .header {
        text-align: center;
    }
    .hobbies-wrapper {
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }
    .hobby {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .hobby-name {
        margin-left: 20px;
        margin-top: 30px;
    }

    /*skills section */
    .section3 span {
        font-size: 25px;
    }
}